/* Header */


@media (max-width:1500px) {
    .header__top {
        display: flex;
        align-items: center;
        padding: 57px 0;
        gap: 80px;
        justify-content: center;
    }
}


@media (max-width:1230px) {
    .header__decor-text--two {
        left: 0;
    }

    .info__specs {
        display: block;

    }

    .info__top {
        margin-bottom: 320px
    }


}

@media (max-width:830px) {
    .header__top {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 90px;

    }

    .header__btn {
        width: 70%;
    }

    .header__content-box {
        margin-right: 0;
    }
}

@media (max-width:830px) {
    .info__specs--list {
        width: 100%;
    }

    .info__specs--item {
        display: block;
    }
}

@media (max-width:414px) {
    .header__decor-text {
        display: none;
    }
}

@media (max-width:375px) {
    .header__title {
        font-size: 55px;
        line-height: 60px;
    }

    .header__content-box {
        margin-right: 0;
    }

}

/*Buy section*/

@media (max-width: 1250px) {
    .buy>.container {
        display: block;
        padding: 50px 0;
    }

    .buy__inner {
        justify-content: center;
        align-items: center;
    }

    .buy__title {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .buy__content--text {
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

    }

    .buy__btn {
        width: 284px;
        height: 40px;
        display: block;
        position: static;
        margin-left: auto;
        margin-right: auto;

    }

    .text___btn {
        font-size: 20px;
        font-weight: 350;
        line-height: 25px;
    }

    .buy__price {
        display: block;
        margin: 30px auto;

    }

    .buy-img {
        display: block;
        margin: 10px auto;
    }
}

@media (max-width: 570px) {
    .buy-img {
        display: none;

    }
}

/* Info section */


@media (max-width:1000px) {
    .info__top {
        display: block;
    }

    .info__down {
        padding-top: 115px;
    }

    .info__top--top {
        padding-top: 300px;
    }

    .info__top--text::before {
        display: none;
    }

    .info__top--text {
        text-align: center;
        width: 100%;
    }

    .info__top--img {
        top: 10px;
    }

    .popup__btn {
        top: 400px;
        left: 260px;
    }
}

@media (max-width:800px) {
    .info__top--img {
        display: none;

    }

    .popup__btn {
        top: 800px;
        left: 150px;

    }
}




/* Microtech section */


@media (max-width: 1830px) {
    .microtech__top {
        display: block;
    }

    .microtech__top--images {
        margin-top: 25px;
    }

    .micro__top--txt {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }

    .microtech__top--images::before {
        display: none;
    }
}


@media (max-width: 1860px) {

    .microtech__img1,
    .microtech__img2,
    .microtech__img3 {
        display: none;
    }

    .microtech__double {
        display: block;
        width: 900px;
        height: 600px;
        margin-right: auto;
        margin-left: auto;
    }


    .mic__down__img1 {
        width: 400px;
        height: 300px;
        margin-bottom: 10px;
    }

    .mic__down__img2 {
        width: 620px;
        height: 300px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .mic__down__img3 {
        width: 240px;
        height: 300px;

    }

    .mic__down__img4 {
        width: 415px;
        height: 300px;

        margin-right: 10px;
    }

    .mic__down__img5 {
        width: 346px;
        height: 300px;

        margin-right: 10px;
    }

    .mic__down__img6 {
        width: 1040px;
        height: 300px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1200px) {
    .mic__down__img1 {
        width: 350px;
        height: 200px;
        margin-bottom: 5px;
    }

    .mic__down__img2 {
        width: 570px;
        height: 200px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .mic__down__img3 {
        width: 210px;
        height: 200px;

    }

    .mic__down__img4 {
        width: 400px;
        height: 200px;

        margin-right: 5px;
    }

    .mic__down__img5 {
        width: 300px;
        height: 200px;

        margin-right: 5px;
    }

    .mic__down__img6 {
        width: 940px;
        height: 200px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 1000px) {

    .mic__down__img1,
    .mic__down__img2,
    .mic__down__img3,
    .mic__down__img4,
    .mic__down__img5,
    .mic__down__img6 {
        display: none;
    }

    .microtech__double {
        display: block;
        width: 500px;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    .mic__down__double {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


}

/* Footer*/

@media (max-width: 1200px) {
    .footer__galry--item {
        width: 100%;
        align-self: stretch;
        
    }
}

@media (max-width: 1000px) {
    .footer__top {
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
        order: -1;
        margin-bottom: 50px;
       
    }
}