/* Header */


@media (max-width:1500px) {
    .header__top {
        display: flex;
        align-items: center;
        padding: 57px 0;
        gap: 80px;
        justify-content: center;
    }
}


@media (max-width:1230px) {
    .header__decor-text--two {
        left: 0;
    }

    .info__specs {
        display: block;

    }

    .info__top {
        margin-bottom: 320px
    }


}

@media (max-width:830px) {
    .header__top {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 90px;

    }

    .header__btn {
        width: 70%;
    }

    .header__content-box {
        margin-right: 0;
    }
}

@media (max-width:830px) {
    .info__specs--list {
        width: 100%;
    }

    .info__specs--item {
        display: block;
    }
}

@media (max-width:414px) {
    .header__decor-text {
        display: none;
    }
}

@media (max-width:375px) {
    .header__title {
        font-size: 55px;
        line-height: 60px;
    }

    .header__content-box {
        margin-right: 0;
    }

}





/* Info section */


@media (max-width:1000px) {
    .info__top {
        display: block;
    }

    .info__down {
        padding-top: 115px;
    }

    .info__top--top {
        padding-top: 300px;
    }

    .info__top--text::before {
        display: none;
    }

    .info__top--text {
        text-align: center;
        width: 100%;
    }

    .info__top--img {
        top: 10px;
    }

    .popup__btn {
        top: 400px;
        left: 260px;
    }
}

@media (max-width:800px) {
    .info__top--img {
        display: none;

    }

    .popup__btn {
        top: 800px;
        left: 150px;

    }
}




/* Microtech section */

@media (max-width: 1860px) {

    .mic__down__img1 {
        width: 400px;
        height: 300px;
        margin-bottom: 10px;
    }

    .mic__down__img2 {
        width: 620px;
        height: 300px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .mic__down__img3 {
        width: 240px;
        height: 300px;

    }

    .mic__down__img4 {
        width: 415px;
        height: 300px;

        margin-right: 10px;
    }

    .mic__down__img5 {
        width: 346px;
        height: 300px;

        margin-right: 10px;
    }

    .mic__down__img6 {
        width: 1040px;
        height: 300px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1200px) {
    .mic__down__img1 {
        width: 350px;
        height: 200px;
        margin-bottom: 5px;
    }

    .mic__down__img2 {
        width: 570px;
        height: 200px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .mic__down__img3 {
        width: 210px;
        height: 200px;

    }

    .mic__down__img4 {
        width: 400px;
        height: 200px;

        margin-right: 5px;
    }

    .mic__down__img5 {
        width: 300px;
        height: 200px;

        margin-right: 5px;
    }

    .mic__down__img6 {
        width: 940px;
        height: 200px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 1000px) {

    .mic__down__img1,
    .mic__down__img2,
    .mic__down__img3,
    .mic__down__img4,
    .mic__down__img5,
    .mic__down__img6 {
        display: none;
    }

    .mic__down__double {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


}